{% extends "panel/layout.twig" %}
{% block tittle %}Users List{% endblock %}
{% block content %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.4/css/buttons.jqueryui.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/b-1.2.4/b-html5-1.2.4/datatables.min.js"></script>

	
	<style>
		.tab-pane{
			padding: 10px;

		}
		#users_wrapper{
			padding-bottom: 40px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
		.portlet-body #users_wrapper #users_length{
			float: right;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-book font-green"></i>
							<span class="caption-subject font-green bold uppercase">Users List</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="users" class="display" width="100%" cellspacing="0">
						<thead>
							<tr style="text-transform:uppercase;">
								{% for key,qtable_message in headers %}
									<th>{{ qtable_message }} 
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#users").DataTable({
								serverSide: true,
								select: true,
								ajax: '/admin/users/list',
								"scrollX": "100%",
								"AutoWidth": false,
								"dom": 'Blrtip',
								buttons: [
										{
											extend: 'csvHtml5',
											"text": '<i class="fa fa-floppy-o" aria-hidden="true"></i> Export to csv',
											//"header":false,
											className:"btn green-haze btn-outline sbold uppercase",
											exportOptions: {
												columns: [1,2,3,4,5,6],
												modifier: {
													"search": 'none'
												}
											}
										}
									],
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
										{"data": "{{ qtable_message }}"},
						{% endfor %}
									]
								});
								function setLink() {
									$("#users_paginate").css("text-align", "right");
									$("#users_info").addClass("col-md-6");
									$("#users_paginate span").addClass("btn-group btn-group-solid");
									$("#users_paginate").addClass("col-md-6");
									$("#users_wrapper").removeClass();
									$(".paginate_button").addClass("btn white");
									$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
									$("option").css("background", "white");
									$("select").css("-moz-appearance", "none");
								}
								setTimeout(setLink, 1);


							});

					</script>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

