{% extends "panel/layout.twig" %}
{% block tittle %}Address book{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style>
		.tab-pane{
			padding: 10px;

		}
		#address_book_wrapper{
			padding-bottom: 40px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-book font-green"></i>
							<span class="caption-subject font-green bold uppercase">Address book</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="address_book" class="display" width="100%" cellspacing="0">
						<thead>
							<tr style="text-transform:uppercase;">
								{% for key,qtable_message in headers %}
									<th>{{ qtable_message }} 
											<input class="btn grey-cararra" onclick="stopPropagation(event);" type="text" size="14" id="col_{{key}}">
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#address_book").DataTable({
								serverSide: true,
								select: true,
								ajax: '/device/{{device_id}}/address_book/list',
								"scrollX": "100%",
								"AutoWidth": false,
								"dom": 'lBrtip',
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
										{"data": "{{ qtable_message }}"},
						{% endfor %}
									],"columnDefs": [
										{"width": "20%", "targets": 0},
										{"width": "20%", "targets": 1},
										{"width": "25%", "targets": 2},
										{"width": "35%", "targets": 3}]
								});
								function setLink() {
									$("#address_book_paginate").css("text-align", "right");
									$("#address_book_info").addClass("col-md-6");
									$("#address_book_paginate span").addClass("btn-group btn-group-solid");
									$("#address_book_paginate").addClass("col-md-6");
									$("#address_book_wrapper").removeClass();
									$(".paginate_button").addClass("btn white");
									$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
									$("option").css("background", "white");
									$("select").css("-moz-appearance", "none");
								}
								setTimeout(setLink, 1);
								document.getElementById("address_book_wrapper").addEventListener("DOMSubtreeModified", setLink);
								var availableTags_0 = [
						{% for qtable_autocomplete in first_name_autocomplete %}
									"{{qtable_autocomplete["first_name"]}}",
						{% endfor %}

								];
								var availableTags_1 = [
						{% for qtable_autocomplete in last_name_autocomplete %}
									"{{qtable_autocomplete["last_name"]}}",
						{% endfor %}

								];
								var availableTags_2 = [
						{% for qtable_autocomplete in numbers_autocomplete %}
									"{{qtable_autocomplete["numbers"]}}",
						{% endfor %}

								];
								var availableTags_3 = [
						{% for qtable_autocomplete in email_autocomplete %}
									"{{qtable_autocomplete["email"]}}",
						{% endfor %}

								];
								{% for key,qtable_message in table_message %}
								{{key}}
								$("#col_{{key}}").autocomplete({
									source: availableTags_{{key}}
								});
								$("#ui-id-{{key+1}}").click(function () {
									table
											.column('{{key}}')
											.search($("#col_{{key}}").val())
											.draw();
								});
								$("#col_{{key}}").keyup(function (event) {
									if (event.keyCode == 13) {
										table
												.column('{{key}}')
												.search($(this).val())
												.draw();
									}
								});
									{% endfor %}
							});
							function stopPropagation(evt) {
								if (evt.stopPropagation !== undefined) {
									evt.stopPropagation();
								} else {
									evt.cancelBubble = true;
								}
							}
					</script>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

