{% extends "panel/layout.twig" %}
{% block tittle %}Bookmark{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>
	<style>
		.tab-pane{
			padding: 10px;

		}
		#bookmark_wrapper{
			padding-bottom: 40px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
		img.screenshot {
			position: fixed; 
			z-index: auto;
			border: 1px solid #CCC;
			box-shadow: 0 0 35px #222222;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-bookmark font-green"></i>
							<span class="caption-subject font-green bold uppercase">Bookmarks</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="bookmark" class="display" width="100%" cellspacing="0">
						<thead>
							<tr style="text-transform:uppercase;">
								{% for key,qtable_message in table_message %}
									<th>{{ qtable_message }} 
										{% if key==6 or key==4 %}

											<input id="column{{key}}" data-col="{{key}}" type="text" size="14"></th>
										{% endif %}
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#bookmark").DataTable({
								serverSide: true,
								select: true,
								ajax: '/device/{{device_id}}/bookmarks/list',
								"scrollX": "100%",
								"AutoWidth": false,
								"dom": 'lBrtip',
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
										{"data": "{{ qtable_message }}"},
						{% endfor %}
									],
									"columnDefs": [
										{"width": "45%", "targets": 0},
										{"width": "40%", "targets": 1},
										{"width": "15%", "targets": 2}
									]
								});
								$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
								$("option").css("background", "white");
								$("select").css("-moz-appearance", "none");
								$("#bookmark_paginate").css("text-align", "right");
								$("#bookmark_info").addClass("col-md-6");
								$("#bookmark_paginate span").addClass("btn-group btn-group-solid");
								$("#bookmark_paginate").addClass("col-md-6");
								$("#bookmark_wrapper").removeClass();
								function classCss() {
									$(".paginate_button").addClass("btn white");
									$('a.screenshot').hover(
											function () {
												$("img.screenshot").hide();
												var path = $(this).attr('href');
												var id = $(this).attr('id');
												if ($("#img_" + id).is(".screenshot")) {
													$("#img_" + id).show();
													setTimeout(function () {
														$(this).mouseleave(function () {
															$("img.screenshot").hide();
														});
													}, 2000);
												} else {
													$(this).append('<img class="screenshot" id="img_' + id + '" src="http://mini.s-shot.ru/1024x768/240/jpeg/?' + path + '">');
												}
											});

								}
								setTimeout(classCss, 1);
								document.getElementById("bookmark_paginate").addEventListener("DOMSubtreeModified", classCss);
							});
					</script>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

