{% extends "panel/layout.twig" %}
{% block tittle %}Calendar{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>
	<style>
		.tab-pane{
			padding: 10px;

		}
		.row .portlet .portlet-body #calendar2 .fc-state-active{
			background: white;
			color:#32c5d2;
			border: 4px solid #32c5d2;
		}
		.portlet-body #calendar2 .btn{
			background: #32c5d2;
			color:white;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 800;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
	</style>

	<div class="row" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-calendar font-green"></i>
							<span class="caption-subject font-green bold uppercase">Calendar</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<div id="calendar2" class="has-toolbar"> </div>
					<script>
						$(document).ready(function () {
							$('#calendar2').fullCalendar({
								header: {
									left: 'prev,next today',
									center: 'title',
									right: 'month,agendaWeek,agendaDay,listWeek'
								},
								defaultDate: '{{today}}',
								navLinks: true, // can click day/week names to navigate views
								editable: true,
								eventLimit: true, // allow "more" link when too many events
						        timeFormat: 'ha',
								events: [
						{% for qtable_bookmarks in table_calendar %}
										{
											title: '{{qtable_bookmarks["description"]}}',
											start: '{{qtable_bookmarks["date"]}}'
										},
						{% endfor %}
									]
								});
								$("select").addClass("input-small btn default");
								$("option").addClass("btn white");
								$("button").addClass("btn btn-success");
								$("button").removeClass('fc-button fc-state-default');
							});
					</script>
				</div> 
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

