{% extends "panel/layout.twig" %}
{% block tittle %}Panel of devices{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>
	<style>
		.tab-pane{
			padding: 10px;

		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
		#chartdiv {
			width: 100%;
			height: 300px;
		}
		#newchartdiv {
			width: 100%;
			height: 360px;
		}
		#webchartdiv {
			width: 100%;
			height: 360px;
		}
	</style>
	<div class="row" style="margin-top: 60px; margin-left:20px;">
		<div class="cpl-md-12">
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption col-lg-12">
								<div class="col-lg-6">
									<span class="caption-subject font-green bold uppercase"><i class="fa fa-info-circle"  aria-hidden="true"></i> Device Information</span></div>
							</div>
						</div>
						<div class="portlet-body" >
							{% for qtable_device in table_device %}
								{% if qtable_device["id"]==device_id %}
									<div class="row">
										<div class="col-md-6">
											<img width="200px" height="200px" src="/images/os/{{qtable_device["logo"]}}" alt="альтернативный текст">
										</div>
										<div class="col-md-6">
											<ul class="list-group">
												<li class="list-group-item bg-green" style="color:white;font-weight: 900;">Technical Info</li>
												<li class="list-group-item bg-green" style="color:white;font-weight: 700;">
													<table class="table">
														<tbody>
															<tr>
																<td>Device model</td>
																<td>{{qtable_device["model"]}}</td>
															</tr>
															<tr>
																<td>OS</td>
																<td>{{qtable_device["os"]}}</td>
															</tr>
															<tr>
																<td>Battery</td>
																<td>{{qtable_device["battery"]}}</td>
															</tr>
															<tr>
																<td>Imei</td>
																<td>{{qtable_device["imei"]}}</td>
															</tr>
															<tr>
																<td>Mac address</td>
																<td>{{qtable_device["mac_address"]}}</td>
															</tr>
														</tbody>
													</table>
												</li>
											</ul>
										</div>

									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-md-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption col-lg-12">
								<div class="col-lg-8">
									<i class="glyphicon glyphicon-book font-green"></i>
									<span class="caption-subject font-green bold uppercase">10 Most visited sites</span></div>
							</div>
						</div>
						<div class="portlet-body">

							<div id="webchartdiv"></div>

						</div></div>

				</div>

			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption col-lg-12">
								<div class="col-lg-8">
									<i class="glyphicon glyphicon-book font-green"></i>
									<span class="caption-subject font-green bold uppercase">Messages Types</span></div>
							</div>
						</div>
						<div class="portlet-body">

							<div id="chartdiv"></div></div></div></div>
				<div class="col-md-12">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption col-lg-12">
								<div class="col-lg-8">
									<i class="glyphicon glyphicon-book font-green"></i>
									<span class="caption-subject font-green bold uppercase">10 Most Calling Contacts</span></div>
							</div>
						</div>
						<div class="portlet-body">

							<div id="newchartdiv"></div>

						</div></div>

				</div>
			</div>
		</div>
		<div class="col-md-12" style="padding-top: 30px;">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-book font-green"></i>
							<span class="caption-subject font-green bold uppercase">Latest Location</span></div>
					</div>
				</div>
				<div class="portlet-body" style="height: 500px;">
					<div id="map" style="height: 470px;"></div>
				</div></div></div>			
	</div>
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
	<script src="/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/amcharts/themes/dark.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
	<script src="/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
	<script>
		$(function () {
		$("#map").googleMap({zoom: 17});
		$("#map").addMarker({
		coords: [{{last_gps["lat"]}}, {{last_gps["lng"]}}],
				title: '<h4>Latest location</h4>',
				text: 'At {{last_gps["date"]}} in the device he was to the address {{last_gps["address"]}}'
		});
		setTimeout(function(){$("a[href='http://www.amcharts.com/javascript-charts/']").remove(); }, 2000);
		});
	</script>
	<!-- Chart code -->
	<script>
		var chart = AmCharts.makeChart("chartdiv", {
		"theme": "dark",
				"type": "pie",
				"dataProvider": [
		{% for key,value in chart_message_type %}
					{
					"type": "{{key}}",
							"value":{{value}}
					},
		{%endfor%}
					],
					"valueField": "value",
					"titleField": "type",
					"outlineAlpha": 0.4,
					"depth3D": 25,
					"balloonText": "<span style='font-size:16px; font-weigth: 900;'>[[title]]</span><br><span style='font-size:14px'><b>[[value]] messages</b> ([[percents]]%)</span>",
					"angle": 30,
					"export": {
					"enabled": true
					}
			});
	</script>
	<script>
		var chart = AmCharts.makeChart("newchartdiv", {
		"theme": "dark",
				"type": "serial",
				"dataProvider": [
		{% for keys,values in contact_most_calling%}
					{
					"name": "{{keys}}",
							"income":{{values}}
					},{%endfor%}
					],
					"valueAxes": [{
					"title": "Number Calls"
					}],
					"graphs": [{
					"balloonText": "[[category]] called [[value]] ",
							"fillAlphas": 1,
							"lineAlpha": 0.2,
							"title": "Income",
							"type": "column",
							"valueField": "income"
					}],
					"rotate": true,
					"categoryField": "name",
					"categoryAxis": {
					"gridPosition": "start",
							"fillAlpha": 1,
							"position": "left"
					},
					"export": {
					"enabled": true
					}

			});
		</script>

		<script>
			var chart = AmCharts.makeChart("webchartdiv", {
			"theme": "dark",
					"type": "serial",
					"dataProvider": [
			{% for keys,values in web_most_visited%}
						{
						"name": "{{keys}}",
								"income":{{values}}
						},{%endfor%}
						],
						"valueAxes": [{
						"title": "Number Visits"
						}],
						"graphs": [{
						"balloonText": "[[category]] visited [[value]] ",
								"fillAlphas": 1,
								"lineAlpha": 0.2,
								"title": "Income",
								"type": "column",
								"valueField": "income"
						}],
						"rotate": true,
						"categoryField": "name",
						"categoryAxis": {
						"gridPosition": "start",
								"fillAlpha": 1,
								"position": "left"
						},
						"export": {
						"enabled": true
						}

				});
			</script>
			{% endblock %}
