{% extends "panel/layout.twig" %}
{% block tittle %}Files {{types}}{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.11/plyr.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.11/plyr.svg">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.11/plyr.js"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>

	<script type="text/javascript" src="/lib/jquery.mousewheel.pack.js?v=3.1.3"></script>

	<script type="text/javascript" src="/source/jquery.fancybox.pack.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/source/jquery.fancybox.css?v=2.1.5" media="screen" />

	<link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
	<script type="text/javascript" src="/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script src="https://npmcdn.com/minigrid@3.0.1/dist/minigrid.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
	<script type="text/javascript" src="/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script type="text/javascript" src="/assets/simple-lightbox.min.js"></script>
	<script type="text/javascript" src="/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='/assets/simplelightbox.min.css' rel='stylesheet' type='text/css'>
	<link href="http://vjs.zencdn.net/5.16.0/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
	<script src="http://vjs.zencdn.net/5.16.0/video.js"></script>
	<style>
		.tab-pane{
			padding: 10px;

		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12" style="background:white">
			<div class="portlet light portlet-fit ">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-file font-green"></i>
							<span class="caption-subject font-green bold uppercase">{{types}} Files </span></div>
					</div>
				</div>
				<div class="portlet-body">
					<ul class="list-group list-news ext-1">
						<div class="gallery" >
							{% for key,qfiles_sql in files_sql %}
								{% if qfiles_sql["type"]=="images" %}
									<div class="col-md-4" style="padding-bottom: 15px; height: 400px;text-align: center;" ><a href="{{qfiles_sql["path"]}}" style="width:100%"><img src="{{qfiles_sql["path"]}}" alt="{{qfiles_sql["name"]}}" title="{{qfiles_sql["name"]}}" style="height: 80%;width:auto;max-width: 100%; float: " /></a></div>

								{% endif %}
								{% if qfiles_sql["type"]=="audio" %}
									<li class="list-group-item"><span class="badge" style="background:none;margin-top: 10px;"><a href="{{qfiles_sql["path"]}}" class="btn btn-info" download="{{qfiles_sql["name"]}}"><i class="fa fa-download"></i></a></span>
										<div style="width:90%; background-color: #FAFAFA;"><span class="font-green bold uppercase" style="padding-left:30px;" >{{qfiles_sql["name"]}}</span></div>
										<audio id="player_{{key}}" onplay="if(localStorage.getItem('audio')=='player_{{key}}'){}else{stopPlay();localStorage.setItem('audio', 'player_{{key}}');}" controls style="width:90%">
											<source src="{{qfiles_sql["path"]}}" type="audio/mp3">
											Your browser does not support the audio element.
										</audio>
									</li>
								{% endif %}
								{% if qfiles_sql["type"]=="video" %}
									<li class="list-group-item"><span class="badge">{{qfiles_sql["type"]}}</span>
										<div class="modal fade" id="myModal_{{qfiles_sql["id"]}}" role="dialog">
											<div class="modal-dialog" style="width: 1100px;">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">{{qfiles_sql["name"]}} </h4>
													</div>
													<div class="modal-body" style="text-align:center;">
														<video id="my-video_{{qfiles_sql["id"]}}" onclick="var myPlayer = videojs(this);$('#myModal_{{qfiles_sql["id"]}}').on('hidden.bs.modal', function (e) {myPlayer.pause();myPlayer.load();});" class="video-js" controls width="1024" heigth="720" preload="auto" 
															    data-setup="{}">
															<source src="{{qfiles_sql["path"]}}" type='video/mp4'>
															<p class="vjs-no-js">
																To view this video please enable JavaScript, and consider upgrading to a web browser that
																<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
															</p>
														</video>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													</div>
												</div>

											</div>
										</div>
										<div style="display:flex;width: 80%">					
										<div style="width:10%">					
										<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_{{qfiles_sql["id"]}}"><i class="fa fa-play"></i></button>
										<a href="{{qfiles_sql["path"]}}" class="btn btn-info btn-lg" download="{{qfiles_sql["name"]}}"><i class="fa fa-download"></i></a>
										</div>
										<div style="width:80%">
											<span class="font-green bold uppercase" style="padding-left:30px;" >{{qfiles_sql["name"]}}</span>
										</div>
										</div>
										</li>
										{% endif %}

							{% endfor %}
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('.fancybox-buttons').fancybox({
			openEffect: 'none',
			closeEffect: 'none',
			prevEffect: 'none',
			nextEffect: 'none',
			closeBtn: false,
			helpers: {
				title: {
					type: 'inside'
				},
				buttons: {}
			},
			afterLoad: function () {
				this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
			}
		});
		var $gallery = $('.gallery a').simpleLightbox();
	});
	function stopPlay() {
		if (localStorage.getItem('audio')) {
			document.getElementById(localStorage.getItem('audio')).load();
		}};
</script>

{% endblock %}
{% block javascripts %}


{% endblock %}

