{% extends "panel/layout.twig" %}
{% block tittle %}Location{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>
	<style>
		@media screen and (min-width:1401px) and (max-width:2000px) {
			#tab_container{width:100%;}
			#list{width:60%;margin-left: 20%;margin-right: 20%;}
			#map{width: 100%; height: 600px;}
		}
		@media screen and (min-width:800px) and (max-width:1400px) {
			#tab_container{width:100%;}
			#listr{width:90%;margin-left: 5%;margin-right: 5%;}
			#map{width: 100%; height: 400px;}
		}
		.tab-pane{
			padding: 10px;

		}
		#nav_a li{
			border: 4px solid #32c5d2; 
		}
		#nav_a a{
			color:#32c5d2;
			background: white;
			font-size: 14px;
			font-weight: 900;
		}
		#nav_a .active a {
			color:white;
			background: #32c5d2;
			font-size: 14px;
			font-weight: 900;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
	</style>
	<div class="row" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-md-3">
							<i class="icon-pointer font-green"></i>
							<span class="caption-subject font-green bold uppercase">Location</span></div>
						<div class="col-md-7">
							<ul class="nav  nav-justified" id="nav_a" role="tablist">
								<li class="active"><a  href="#map" aria-controls="map" role="tab" data-toggle="tab"><i class="icon-pointer"></i>  Map View</a></li>
								<li><a href="#list" id="link_list" aria-controls="list" role="tab" data-toggle="tab"><i class="fa fa-list-alt"></i>Location list</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="tab-content" id="tab_container">
						<div id="map" class="tab-pane active" role="tabpanel"></div>
						<div role="tabpanel" class="tab-pane" id="list" style="width: 930px; height: 100%;">
							<div class="table-responsive">          
								<table id="gpss" class="display" width="100%" cellspacing="0">
									<thead>
										<tr style="text-transform: uppercase;">
											{% for key,qtable_header in table_header %}
												<th>{{ qtable_header }}&nbsp;
												</th>
											{% endfor %}
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script type="text/javascript">
			$(function () {
				$.get("https://maps.googleapis.com/maps/api/geocode/json?latlng={{first_gps["lat"]}},{{first_gps["lng"]}}&key=AIzaSyA6T_OKxfX7bvGxeHuMgzIIGwqcfEYPm1I",
						function (data) {
							$("#result").text(data["results"][0]["formatted_address"]);
						}, "json");
				$("#map").googleMap({
					zoom: 1,
					coords: [{{last_gps["lat"]}},{{last_gps["lng"]}} ],
					type: "ROADMAP"
				});
			{% for key,qgps in gps %}
					$("#map").addMarker({
						coords: [{{qgps["lat"]}}, {{qgps["lng"]}}],
						title: '<h4>{{qgps["address"]}}</h4>',
						text: 'Date: {{qgps["date"]}}'
					});
			{% endfor %}

					function setLink() {
			{% for qgps in gps %}
				{%if qgps["address"]!="" %}
							$("#link_{{qgps["id"]}}").attr("href", "https://www.google.com/maps/place/" + encodeURIComponent("{{qgps["address"]}}"));
				{%endif%}
			{% endfor %}
						$("#gpss_paginate").css("text-align", "right");
						$("#gpss_info").addClass("col-md-6");
						$("#gpss_paginate span").addClass("btn-group btn-group-solid");
						$("#gpss_paginate").addClass("col-md-6");
						$("#gpss_wrapper").removeClass();
						$(".paginate_button").addClass("btn white");
						$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
						$("option").css("background", "white");
						$("select").css("-moz-appearance", "none");
					}
					setTimeout(setLink, 1);
					var table = $("#gpss").DataTable({
						serverSide: true,
						select: true,
						ajax: '/device/{{device_id}}/gps/list',
						"scrollX": "100%",
						"AutoWidth": false,
						"dom": 'lBrtip',
						lengthMenu: [
							[10, 25, 50, 100],
							['10 records', '25 records', '50 records', '100 records']
						],
						columns: [
			{% for qtable_tables in table_tables %}
							{"data": "{{ qtable_tables }}"},
			{% endfor %}
						]
					});
					document.getElementById("gpss_wrapper").addEventListener("DOMSubtreeModified", setLink);
					$( "#link_list" ).click(function() {
					table
						.order( [[ 2, 'asc' ]] )
						.draw();});
				});
		</script>

	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}
