{% extends "panel/layout.twig" %}
{% block tittle %}Instagram{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style>
		.tab-pane{
			padding: 10px;

		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
		.page-container .page-content .portlet-body #instagram .portlet-title{
			    padding: 4px 20px 3px;
		}
		.page-content .portlet .portlet-body #instagram_wrapper thead{
			display:none;
		}
		.page-content .portlet .portlet-body #instagram_wrapper tbody{
			margin-top: 20px;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-hand-down font-green"></i>
							<span class="caption-subject font-green bold uppercase">Instagram</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="instagram" class="display" width="100%" cellspacing="0">
						<thead>
							<tr>
								{% for key,qtable_message in table_header %}
									<th style="text-transform:uppercase;">{{ qtable_message }} 	
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#instagram").DataTable({
								serverSide: true,
								select: true,
								ajax: '/device/{{device_id}}/instagram/list',
								"scrollX": "100%",
								"AutoWidth": false,
								"dom": 'lBrtip',
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
										{"data": "{{ qtable_message }}"},
						{% endfor %}
									]
								});
								function setLink() {
									$("#keylogger_paginate").css("text-align", "right");
									$("#keylogger_info").addClass("col-md-6");
									$("#keylogger_paginate span").addClass("btn-group btn-group-solid");
									$("#keylogger_paginate").addClass("col-md-6");
									$("#keylogger_wrapper").removeClass();
									$(".paginate_button").addClass("btn white");
									$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
									$("option").css("background", "white");
									$("select").css("-moz-appearance", "none");
								}
								setTimeout(setLink, 1);
								document.getElementById("keylogger_wrapper").addEventListener("DOMSubtreeModified", setLink);

							});
					</script>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

