<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>{% block tittle %}

			{% endblock %}</title>
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta content="width=device-width, initial-scale=1" name="viewport" />
			<meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
			<meta content="" name="author" />
			<!-- BEGIN GLOBAL MANDATORY STYLES -->
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
			<link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
			<!-- END GLOBAL MANDATORY STYLES -->
			<!-- BEGIN PAGE LEVEL PLUGINS -->
			<link href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
			<link href="/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
			<!-- END PAGE LEVEL PLUGINS -->
			<!-- BEGIN THEME GLOBAL STYLES -->
			<link href="/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
			<link href="/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
			<!-- END THEME GLOBAL STYLES -->
			<!-- BEGIN THEME LAYOUT STYLES -->
			<link href="/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
			<link href="/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
			<!-- END THEME LAYOUT STYLES -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
			<link rel="manifest" href="/assets/favicon/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
		<!-- END HEAD -->

		<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white">
			{% if route=="panel" %}
				<style>
					.page-content .row{margin-top: 40px;}
				</style>
			{% endif %}
			<div class="page-header navbar navbar-fixed-top">
				<!-- BEGIN HEADER INNER -->
				<div class="page-header-inner ">
					<!-- BEGIN LOGO -->
					<div class="page-logo">
						<a href="/panel">
							<img src="/assets/layouts/layout/img/logotip.png" width="140"  alt="logo" class="logo-default" style="margin-top:5px;" /> </a>
						<div class="menu-toggler sidebar-toggler" style="margin-top: 15px;">
							<span></span>
						</div>
					</div>
					<!-- END LOGO -->
					<!-- BEGIN RESPONSIVE MENU TOGGLER -->
					<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
						<span></span>
					</a>
					{%if route=="admin"%}{%else%}
					<ul class="green-meadow nav navbar-nav pull-left" style="margin-left:50px;">
						<li class="dropdown dropdown-extended dropdown-notification " id="header_notification_bar" style="background:white;">
							<a href="javascript:;" class="dropdown-toggle btn default uppercase btn-block" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="font-size:13px; border: none; font-weight: 900;">
							{%if device_id!=null %}
							{% for qtable_device in table_device %}
								{%if qtable_device["id"]==device_id%}
									<img alt="" width="15" height="15" class="img" src="/images/os/{{qtable_device["logo"]}}"> {{qtable_device["name"]}}  {{qtable_device["imei"]}}<i class="fa fa-angle-down"></i>
								{%endif%}
								{% endfor %}
							{%else%}<i class="fa fa-mobile-phone"></i> Devices <i class="fa fa-angle-down"></i>{%endif%}
							</a>
							<ul class="dropdown-menu dropdown-menu-default">
								{% for qtable_device in table_device %}
									<li>
										<a href="/panel/device/{{qtable_device["id"]}}{% if route=="images" or route=="audio" or route=="video" %}/files/{{route}}{%elseif route=="panel" or route=="device"%}{%else%}/{{route}}{%if types!=NULL%}/{{types}}{%endif%}{%endif%}">
											<img alt="" width="30" height="30" class="img" src="/images/os/{{qtable_device["logo"]}}"> {{qtable_device["name"]}}  {{qtable_device["imei"]}}  </a>
									</li>
								{% endfor %}
							</ul>

						</li>

					</ul>
					{%endif%}
					<!-- END RESPONSIVE MENU TOGGLER -->
					<!-- BEGIN TOP NAVIGATION MENU -->
					<div class="top-menu">
						<ul class="nav navbar-nav pull-right">
							<!-- BEGIN NOTIFICATION DROPDOWN -->
							<!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
							<!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
							<!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->

							<!-- END TODO DROPDOWN -->
							<!-- BEGIN USER LOGIN DROPDOWN -->
							<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
							<li class="dropdown dropdown-user">
								<a href="#" class="dropdown-toggle btn default uppercase btn-block" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
									<img alt="" class="img-circle" src="{{link}}">
									<span class="username username-hide-on-mobile">{{ names }} </span>
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-default">
									<li>
										<a href="/user">
											<i class="icon-user"></i> My Profile </a>
									</li>
									{%if Admin=="1"%}
									<li>
										<a href="/admin/users">
											<i class="icon-user"></i> Users List</a>
									</li>
									{%endif%}
									<li>
										 <a href="{{ url('/logout') }}"
										   onclick="event.preventDefault();
												   document.getElementById('logout-form').submit();">
                                            Logout
                                        </a>

                                        <form id="logout-form" action="{{ url('/logout') }}" method="POST" style="display: none;">
                                            {{ csrf_field() }}
                                        </form>
									</li>
								</ul>
							</li>
							<!-- END USER LOGIN DROPDOWN -->
							<!-- BEGIN QUICK SIDEBAR TOGGLER -->
							<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
							<li class="dropdown dropdown-quick-sidebar-toggler">
							    <a href="{{ url('/logout') }}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
									   <i class="icon-logout"></i>
								</a>

								<form id="logout-form" action="{{ url('/logout') }}" method="POST" style="display: none;">
										{{ csrf_field() }}
								</form>
							</li>
							<!-- END QUICK SIDEBAR TOGGLER -->
						</ul>
					</div>
					<!-- END TOP NAVIGATION MENU -->
				</div>
				<!-- END HEADER INNER -->
			</div>
			<div class="page-container">
				<!-- BEGIN SIDEBAR -->
				<div class="page-sidebar-wrapper">
					<!-- BEGIN SIDEBAR -->
					<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
					<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
					<div class="page-sidebar navbar-collapse collapse">
						<!-- BEGIN SIDEBAR MENU -->
						<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
						<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
						<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
						<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
						<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
						<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
						<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
							<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
							<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>
							<!-- END SIDEBAR TOGGLER BUTTON -->
							<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
							<li class="nav-item start {% if route=="panel" or route=="device"%} active {% endif %} open">
								<a href="javascript:;" class="nav-link nav-toggle">
									<i class="icon-home"></i>
									<span class="title">Dashboard</span>
									<span class="selected"></span>
									<span class="arrow open"></span>
								</a>
								<ul class="sub-menu">
									{% if route=="panel" %}
										<li class="nav-item start ">
											<a href="/panel" class="nav-link ">
												<i class="fa fa-list-ul" aria-hidden="true"></i>
												<span class="title">Device list</span>
											</a>
										</li>
									{% else %}
										<li class="nav-item start ">
											<a href="/panel" class="nav-link ">
												<i class="fa fa-list-ul" aria-hidden="true"></i>
												<span class="title">Go to device list</span>
											</a>
										</li>
										<li class="nav-item start ">
											<a href="/panel/device/{{device_id}}" class="nav-link ">
												<i class="icon-bar-chart"></i>
												<span class="title">Device info</span>
											</a>
										</li>
									{% endif %}
								</ul>
							</li>
							{% if route=="panel" %}
							{% else %}
								<li class="heading">
									<h3 class="uppercase">Calls and messengers</h3>
								</li>
								<li class="nav-item {% if route=="address_book" %}active {%endif%}  ">
									<a href="/panel/device/{{device_id}}/address_book"  class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-book"></i>
										<span class="title">Address book</span>
									</a>
								</li>
								<li class="nav-item {% if route=="calls" %}active {%endif%}  ">
									<a href="/panel/device/{{device_id}}/calls"  class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-earphone"></i>
										<span class="title">Calls</span>
									</a>
								</li>
								<li class="nav-item {% if route=="messengers" %}active {%endif%}">
									<a href="javascript:;" class="nav-link nav-toggle">
									<i class="glyphicon glyphicon-envelope"></i>
										<span class="title">Messengers</span>
									<span class="arrow open"></span>
								     </a>
									<ul class="sub-menu">
										{% for key,qttype in typ %}
										<li class="nav-item {% if types==key %}active {%endif%} ">
											<a href="/panel/device/{{device_id}}/messengers/{{key}}" class="nav-link ">
												<span class="title">{{qttype}}</span>
											</a>
										</li>
										{% endfor %}
									</ul>
								</li>
								<li class="heading"><h3 class="uppercase">History and Notes</h3></li>
								<li class="nav-item {% if route=="passwords" %}active {%endif%} ">
									<a  href="/panel/device/{{device_id}}/passwords" class="nav-link nav-toggle">
										<i class="fa fa-key" aria-hidden="true"></i>
										<span class="title">Passwords</span>
									</a>
								</li>
								<li class="nav-item {% if route=="bookmarks" %}active {%endif%} ">
									<a  href="/panel/device/{{device_id}}/bookmarks" class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-bookmark"></i>
										<span class="title">Bookmarks</span>
									</a>
								</li>
								<li class="nav-item {% if route=="weblogger" %}active {%endif%} ">
									<a href="/panel/device/{{device_id}}/weblogger"  class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-globe"></i>
										<span class="title">Weblogger</span>
									</a>
								</li>
								<li class="nav-item {% if route=="notes" %}active {%endif%} ">
									<a  href="/panel/device/{{device_id}}/notes" class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-edit"></i>
										<span class="title">Notes</span>
									</a>
								</li>
								<li class="nav-item {% if route=="calendar" %}active {%endif%}  ">
									<a  href="/panel/device/{{device_id}}/calendar" class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-calendar"></i>
										<span class="title">Calendar</span>
									</a>
								</li>
								<li class="heading"><h3 class="uppercase">Location and program </h3></li>
								<li class="nav-item {% if route=="gps" %}active {%endif%} ">
									<a  href="/panel/device/{{device_id}}/gps" class="nav-link nav-toggle">
										<i class="icon-pointer"></i>
										<span class="title">GPS</span>
									</a>
								</li>
								<li class="nav-item {% if route=="programs" %}active {%endif%} ">
									<a href="/panel/device/{{device_id}}/programs"  class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-tasks"></i>
										<span class="title">Programs</span>
									</a>
								</li>
								<li class="nav-item {% if route=="program_activity" %}active {%endif%}  ">
									<a  href="/panel/device/{{device_id}}/program_activity" class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-transfer"></i>
										<span class="title">Program activity</span>
									</a>
								</li>
								<li class="nav-item {% if route=="keylogger" %}active {%endif%}  ">
									<a href="/panel/device/{{device_id}}/keylogger"  class="nav-link nav-toggle">
										<i class="glyphicon glyphicon-hand-down"></i>
										<span class="title">KeyLogger</span>
									</a>
								</li>
								<li class="heading"><h3 class="uppercase">Files</h3></li>
								<li class="nav-item  {% if route=="images" or route=="audio" or route=="video" %}active {%endif%}">
									<a href="javascript:;" class="nav-link nav-toggle">
									<i class="glyphicon glyphicon-file"></i>
										<span class="title">Files</span>
									<span class="arrow open"></span>
								     </a>
									<ul class="sub-menu">
										<li class="nav-item {% if route=="images" %}active {%endif%}">
											<a href="/panel/device/{{device_id}}/files/images" class="nav-link ">
												<i class="fa fa-image"></i>
												<span class="title">Images</span>
											</a>
										</li>
										<li class="nav-item {% if  route=="audio"%}active {%endif%}">
											<a href="/panel/device/{{device_id}}/files/audio" class="nav-link ">
												<i class="fa fa-music"></i>
												<span class="title">Audio</span>
											</a>
										</li>
										<li class="nav-item {% if   route=="video" %}active {%endif%}">
											<a href="/panel/device/{{device_id}}/files/video" class="nav-link">
												<i class="fa fa-video-camera"></i>
												<span class="title">Video</span>
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item {% if route=="takepicture" %}active {%endif%}  ">
									<a href="/panel/device/{{device_id}}/takepicture"  class="nav-link nav-toggle">
										<i class="fa fa-camera"></i>
										<span class="title">Take Cam Picture</span>
									</a>
								</li>
								<li class="nav-item {% if route=="recordphone" %}active {%endif%}  ">
									<a href="/panel/device/{{device_id}}/recordphone"  class="nav-link nav-toggle">
										<i class="fa fa-microphone"></i>
										<span class="title">Record Phone</span>
									</a>
								</li>
								<li class="heading"><h3 class="uppercase">Social</h3></li>
								<li class="nav-item {% if route=="instagram" %}active {%endif%} ">
									<a href="/panel/device/{{device_id}}/instagram"  class="nav-link nav-toggle">
										<i class="fa fa-instagram" aria-hidden="true"></i>
										<span class="title">Instagram</span>
									</a>
								</li>



							{% endif %}

						</ul>
						<!-- END SIDEBAR MENU -->
						<!-- END SIDEBAR MENU -->
					</div>
					<!-- END SIDEBAR -->
				</div>



				<div class="page-content-wrapper">
					<!-- BEGIN CONTENT BODY -->
					<div class="page-content" style="min-height: 1045px;">{% block content %}{% endblock %}</div></div>
			</div>

			<footer>

			</footer>

			{% block javascripts %}

			{% endblock %}
		</body>

		<!-- END QUICK NAV -->
		<!--[if lt IE 9]>
	<script src="../assets/global/plugins/respond.min.js"></script>
	<script src="../assets/global/plugins/excanvas.min.js"></script>
	<script src="../assets/global/plugins/ie8.fix.min.js"></script>
	<![endif]-->
		<!-- BEGIN CORE PLUGINS -->


		<script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script src="/assets/global/plugins/moment.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
		<script src="/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN THEME GLOBAL SCRIPTS -->
		<script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
		<!-- END THEME GLOBAL SCRIPTS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
		<!-- END PAGE LEVEL SCRIPTS -->
		<!-- BEGIN THEME LAYOUT SCRIPTS -->
		<script src="/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
		<script src="/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
		<script src="/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
		<script src="/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
		<!-- END THEME LAYOUT SCRIPTS -->
	</html>
