{% extends "panel/layout.twig" %}
{% block tittle %}Password{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style>
		.tab-pane{
			padding: 10px;

		}
		#password_wrapper{
			padding-bottom: 40px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="fa fa-key font-green" aria-hidden="true"></i>
							<span class="caption-subject font-green bold uppercase">Password</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="password" class="display" width="100%" cellspacing="0">
						<thead>
							<tr>
								{% for key,qtable_message in table_header %}
									<th style="text-transform:uppercase;">{{ qtable_message }} 
										{%if key==2 %} 
											<div id="reportrange" onclick="stopPropagation(event);" class="btn default">
												<i class="fa fa-calendar"></i> &nbsp;
												<span> </span>
												<b class="fa fa-angle-down"></b>
											</div>
										{%endif%}
										{%if key==0 %}
											<input class="btn grey-cararra" onclick="stopPropagation(event);" type="text" size="20" id="names">	
										{%endif%}
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#password").DataTable({
								serverSide: true,
								select: true,
								ajax: '/device/{{device_id}}/passwords/list',
								"scrollX": "100%",
								"AutoWidth": false,
								"dom": 'lBrtip',
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
										{"data": "{{ qtable_message }}"},
						{% endfor %}
									]
								});
								function setLink() {
									$("#password_paginate").css("text-align", "right");
									$("#password_info").addClass("col-md-6");
									$("#password_paginate span").addClass("btn-group btn-group-solid");
									$("#password_paginate").addClass("col-md-6");
									$("#password_wrapper").removeClass();
									$(".paginate_button").addClass("btn white");
									$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
									$("option").css("background", "white");
									$("select").css("-moz-appearance", "none");
								}
								setTimeout(setLink, 1);
								document.getElementById("password_wrapper").addEventListener("DOMSubtreeModified", setLink);
								var availableTags = [
						{% for key,qtable_autocomplete in table_autocomplete %}
									"{{qtable_autocomplete["name"]}}",
						{% endfor %}

								];								
								$("#names").autocomplete({
									source: availableTags
								});
								$("#ui-id-1").click(function () {
									table
											.column('0')
											.search($("#names").val())
											.draw();
								});
								$('#reportrange').daterangepicker({
									opens: (App.isRTL() ? 'left' : 'right'),
									startDate: moment().subtract('days', 29),
									endDate: moment(),
									//minDate: '01/01/2012',
									//maxDate: '12/31/2014',
									dateLimit: {
										days: 60
									},
									showDropdowns: true,
									showWeekNumbers: true,
									timePicker: false,
									timePickerIncrement: 1,
									timePicker12Hour: true,
									ranges: {
										'Today': [moment(), moment()],
										'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
										'Last 7 Days': [moment().subtract('days', 6), moment()],
										'Last 30 Days': [moment().subtract('days', 29), moment()],
										'This Month': [moment().startOf('month'), moment().endOf('month')],
										'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
									},
									buttonClasses: ['btn'],
									applyClass: 'green',
									cancelClass: 'default',
									format: 'MM/DD/YYYY',
									separator: ' to ',
									locale: {
										applyLabel: 'Apply',
										fromLabel: 'From',
										toLabel: 'To',
										customRangeLabel: 'Custom Range',
										daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
										monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
										firstDay: 1
									}
								},
										function (start, end) {
											$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
											table
													.column('2')
													.search(" " + start.format('DD-MM-YYYY') + " - " + end.format('DD-MM-YYYY'))
													.draw();
										}
								);
							});
					</script>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

