{% extends "panel/layout.twig" %}
{% block tittle %}Programs{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>
	<style>
		.tab-pane{
			padding: 10px;

		}
		#programs_wrapper{
			padding-bottom: 40px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
		#programs_wrapper .dataTables_scrollBody #programs .center{text-align: center; padding:3px; }
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-tasks font-green"></i>
							<span class="caption-subject font-green bold uppercase">Programs</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="programs" class="display" width="100%" cellspacing="0">
						<thead>
							<tr class="text-uppercase">
								{% for key,qtable_header in table_header %}
									<th>{{ qtable_header }} 
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#programs").DataTable({
								serverSide: true,
								select: true,
								ajax: '/device/{{device_id}}/programs/list',
								"scrollX": "100%",
								"order": [[ 1, 'asc' ]],
								"AutoWidth": false,
								"columnDefs": [
									{ "width": "30px",className: "center text-uppercase", "targets": 0 },
								],
								"dom": 'lBrtip',
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
								{%if qtable_message=="name" %}
								{"data": "{{ qtable_message }}","orderable": true},
								{%else%}
								{"data": "{{ qtable_message }}","orderable": false},{% endif %}
						{% endfor %}
									]
								});
								function setLink() {
									$("#programs_paginate").css("text-align", "right");
									$("#programs_info").addClass("col-md-6");
									$("#programs_paginate span").addClass("btn-group btn-group-solid");
									$("#programs_paginate").addClass("col-md-6");
									$("#programs_wrapper").removeClass();
									$(".paginate_button").addClass("btn white");
									$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
									$("option").css("background", "white");
									$("select").css("-moz-appearance", "none");
								}
								setTimeout(setLink, 1);
								document.getElementById("programs_wrapper").addEventListener("DOMSubtreeModified", setLink);
							});
					</script>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

