{% extends "panel/layout.twig" %}
{% block tittle %}Program activity{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>
	<style>
		.tab-pane{
			padding: 10px;

		}
		#prog_activ_wrapper{
			padding-bottom: 40px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}

	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-transfer font-green"></i>
							<span class="caption-subject font-green bold uppercase">Program activity</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="prog_activ" class="display" width="100%" cellspacing="0">
						<thead>
							<tr style="text-transform:uppercase;">
								{% for key,qtable_message in table_message %}
									<th>{{ qtable_message }} 
										
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#prog_activ").DataTable({
								serverSide: true,
								select: true,
								ajax: '/device/{{device_id}}/program_activity/list',
								"scrollX": "100%",
								"AutoWidth": false,
								"dom": 'lBrtip',
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
										{"data": "{{ qtable_message }}"},
						{% endfor %}
									],
									"columnDefs": [
										{"width": "40%", "targets": 0},
										{"width": "35%", "targets": 1},
										{"width": "25%", "targets": 2}]
								});
								function setLink() {
									$("#prog_activ_paginate").css("text-align", "right");
									$("#prog_activ_info").addClass("col-md-6");
									$("#prog_activ_paginate span").addClass("btn-group btn-group-solid");
									$("#prog_activ_paginate").addClass("col-md-6");
									$("#prog_activ_wrapper").removeClass();
									$(".paginate_button").addClass("btn white");
									$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
									$("option").css("background", "white");
									$("select").css("-moz-appearance", "none");
								}
								setTimeout(setLink, 1);
								document.getElementById("prog_activ_wrapper").addEventListener("DOMSubtreeModified", setLink);


							});
					</script>


				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

