{% extends "panel/layout.twig" %}
{% block tittle %}Take Cam Picture {% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.11/plyr.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.11/plyr.svg">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.11/plyr.js"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>

	<script type="text/javascript" src="/lib/jquery.mousewheel.pack.js?v=3.1.3"></script>

	<script type="text/javascript" src="/source/jquery.fancybox.pack.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/source/jquery.fancybox.css?v=2.1.5" media="screen" />

	<link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
	<script type="text/javascript" src="/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script src="https://npmcdn.com/minigrid@3.0.1/dist/minigrid.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
	<script type="text/javascript" src="/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script type="text/javascript" src="/assets/simple-lightbox.min.js"></script>
	<script type="text/javascript" src="/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='/assets/simplelightbox.min.css' rel='stylesheet' type='text/css'>
	<style>
		.tab-pane{
			padding: 10px;

		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12" style="background:white">
			<div class="portlet light portlet-fit ">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-12">
							<i class="glyphicon glyphicon-file font-green"></i>
							<span class="caption-subject font-green bold uppercase">Take Cam Picture <button class="btn green-haze btn-outline sbold uppercase" onclick="$.ajax({url: 'takepicture/start',success: function (data) {var result=JSON.parse(data);if(result.success===1 && result.failure===0){alert('Request was sent successfully!');}else{alert('Error: can\'t send request!');}}});" style="float: right;">Take picture</button></span></div>
					</div>
				</div>
				<div class="portlet-body">
					<ul class="list-group list-news ext-1">
								<div class="gallery" >
									{% for qfiles_sql in table_message %}
								<div class="col-md-4" style="padding-bottom: 15px; height: 400px;text-align: center;" ><a href="{{qfiles_sql["path"]}}" style="width:100%"><img src="{{qfiles_sql["path"]}}" alt="{{qfiles_sql["name"]}}" title="{{qfiles_sql["name"]}}" style="height: 80%;width:auto;max-width: 100%; float: " /></a></div>
									{%endfor%}
									</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
		$(document).ready(function() {
			$('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});
			var $gallery = $('.gallery a').simpleLightbox();
		});
	</script>

{% endblock %}
{% block javascripts %}


{% endblock %}