{% extends "panel/layout.twig" %}
{% block tittle %}Weblogger{% endblock %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJRak-ePnZycjx4EdUnCYhYuYtWsPEec"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js"></script>
	<style>
		.tab-pane{
			padding: 10px;

		}
		#weblogger_wrapper{
			padding-bottom: 40px;
		}
		.page-container .page-content{
			margin-top: -65px;
			padding-bottom: 50px;
		}
		img.screenshot {
			position: fixed; 
			z-index: auto;
			border: 1px solid #CCC;
			margin-left: 200px;
			box-shadow: 0 0 35px #222222;
		}
	</style>
	<div class="row list-news ext-1" style="margin-top: 60px; margin-left:20px;">
		<div class="col-lg-12 col-md-12">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption col-lg-12">
						<div class="col-lg-4">
							<i class="glyphicon glyphicon-globe font-green"></i>
							<span class="caption-subject font-green bold uppercase">Weblogger</span></div>
					</div>
				</div>
				<div class="portlet-body">
					<table id="weblogger" class="display" width="100%" cellspacing="0">
						<thead>
							<tr style="text-transform:uppercase;">
								{% for key,qtable_message in table_message %}
									<th>{{ qtable_message }} 
										{%if key==1 %} 
											<div id="reportrange" onclick="stopPropagation(event);" class="btn default">
												<i class="fa fa-calendar"></i> &nbsp;
												<span> </span>
												<b class="fa fa-angle-down"></b>
											</div>
										{%endif%}
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<script type="text/javascript">
						$(function () {
							var table = $("#weblogger").DataTable({
								serverSide: true,
								select: true,
								ajax: '/device/{{device_id}}/weblogger/list',
								"scrollX": "100%",
								"AutoWidth": false,
								"dom": 'lBrtip',
								lengthMenu: [
									[10, 25, 50, 100],
									['10 records', '25 records', '50 records', '100 records']
								],
								columns: [
						{% for qtable_message in table_message %}
										{"data": "{{ qtable_message }}"},
						{% endfor %}
									],
									"columnDefs": [
										{"width": "80%", "targets": 0},
										{"width": "20%", "targets": 1}]
								});
								function setLink() {
									$("#weblogger_paginate").css("text-align", "right");
									$("#weblogger_info").addClass("col-md-6");
									$("#weblogger_paginate span").addClass("btn-group btn-group-solid");
									$("#weblogger_paginate").addClass("col-md-6");
									$("#weblogger_wrapper").removeClass();
									$(".paginate_button").addClass("btn white");
									$("select").addClass("form-control selectpicker show-menu-arrow input-small btn default");
									$("option").css("background", "white");
									$("select").css("-moz-appearance", "none");
									$('a.screenshot').hover(
											function () {
												$("img.screenshot").hide();
												var path = $(this).attr('href');
												var id = $(this).attr('id');
												if ($("#img_" + id).is(".screenshot")) {
													$("#img_" + id).show();
													setTimeout(function () {
														$(this).mouseleave(function () {
															$("img.screenshot").hide();
														});
													}, 2000);
												} else {
													$(this).append('<img class="screenshot" id="img_' + id + '" src="http://mini.s-shot.ru/1024x768/240/jpeg/?' + path + '">');
												}
											});
								}
								setTimeout(setLink, 1);
								$('#reportrange').daterangepicker({
									opens: 'left',
									startDate: moment().subtract('days', 29),
									endDate: moment(),
									//minDate: '01/01/2012',
									//maxDate: '12/31/2014',
									dateLimit: {
										days: 60
									},
									showDropdowns: true,
									showWeekNumbers: true,
									timePicker: false,
									timePickerIncrement: 1,
									timePicker12Hour: true,
									ranges: {
										'Today': [moment(), moment()],
										'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
										'Last 7 Days': [moment().subtract('days', 6), moment()],
										'Last 30 Days': [moment().subtract('days', 29), moment()],
										'This Month': [moment().startOf('month'), moment().endOf('month')],
										'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
									},
									buttonClasses: ['btn'],
									applyClass: 'green',
									cancelClass: 'default',
									format: 'MM/DD/YYYY',
									separator: ' to ',
									locale: {
										applyLabel: 'Apply',
										fromLabel: 'From',
										toLabel: 'To',
										customRangeLabel: 'Custom Range',
										daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
										monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
										firstDay: 1
									}
								},
										function (start, end) {
											$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
											table
													.column('1')
													.search(" " + start.format('DD-MM-YYYY') + " - " + end.format('DD-MM-YYYY'))
													.draw();
										}
								);
								document.getElementById("weblogger_wrapper").addEventListener("DOMSubtreeModified", setLink);

							});
							function stopPropagation(evt) {
								if (evt.stopPropagation !== undefined) {
									evt.stopPropagation();
								} else {
									evt.cancelBubble = true;
								}
							}
					</script>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}

